#instansi {
    padding: 70px;
}

.instansi-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.instansi-img {
    width: 200px;
    margin-bottom: 20px;
}